body {
    overflow-x: hidden;
}

.intro-section {
    position: absolute;
    z-index: 1;
}

.overlay {
    width: 96vw;
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    height: 300px;
    margin-right: 20px;
}

@media screen and (min-width:700px) {
    .overlay {
        height: 400px;
    }
}

@media screen and (max-width:600px) {
    #about-card {
        font-size: 8px;
    }
}

@media screen and (min-width:600px) {


    #righticon {
        border: black solid 2px;
        border-radius: 20px;
        padding-left: 10px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
    }
}

.overlay-2 {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.overlay-2 button {
    z-index: 3;
    font-size: 6px;
}

@media screen and (min-width:600px) {
    .overlay-2 button {
        font-size: clamp(12px, 1.2vw, 18px);
        padding: clamp(6px, 1vw, 12px) clamp(14px, 2.5vw, 28px);
        border-radius: 30px;
    }

}

.arr-card {
    position: relative;
}

.arr-card img {
    width: 100%;
}